*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
    font-family: sans-serif;
}

header{
    width: 100%;
    height: 130px;
    background-color: rgba(0,150,136,255);
}

#container{
    width: 1100px;
    height: 80vh;
    background-color: white;
    margin: 0 auto;
}

.smallImg{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    aspect-ratio: 1;
    margin-right: 10px;
}

.mainRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(234,234,234,255);
    padding: 10px;
}

.icon{
    margin: 0 10px;
}

.lightblueIcon{
    color: rgba(142,218,252,255);
    background-color: white;
    border: 1px white solid;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    aspect-ratio: 1;  
    font-size: 20px;
}

.lightblueBgr{
    background-color: rgba(142,218,252,255);
    padding: 10px;
}

#sottolineato{
    text-decoration: underline;
}

.item{
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.bg-main{
    background-image: url(img/mine.jpg);
    height: 67vh;
    overflow-y: scroll;
}

.bgsearchbar{
    background-color: whitesmoke;
}

.p-0{
    padding: 0;
}

.changeFont{
    font-size: 10px;
    color: grey;
}

.colorMainRow{
    background-color: rgba(234,234,234,255);
    padding: 10px;
}

.fs-7{
    font-size: 7px;
}

.lunghezza-Input{
    width: 90%;
}

.styleSendMsg{
    background-color: rgba(213,249,186,255);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.scrollContacts{
    overflow-y: scroll;
}

.borderBtm{
    border-bottom: 1px solid lightgray;
}

.borderRgt{
    border-right: 1px solid lightgray;
}

.msg-received{
    display: flex;
    justify-content: start;
    background-color: #ffffff;
    min-width: 300px;
    border-radius: 20px;
    padding: 10px;
}

.msg-sent{
    display: flex;
    justify-content: flex-end;
    background-color: #d4f8ba;
    min-width: 300px;
    border-radius: 20px;
    padding: 10px;
}